<mjml>
  <mj-body>
    <mj-section>
      <mj-column>
        <mj-text font-size="40px" color="#F45E43">{Bonfire.Mailer.app_name()}</mj-text>
      </mj-column>
    </mj-section>

    {@inner_content}
  </mj-body>
</mjml>
