<!DOCTYPE html>
<html
  data-theme={Bonfire.UI.Common.ThemeHelper.current_theme(assigns)}
  id="root"
  data-open="false"
  lang="en"
>
  <head>
    <meta charset="utf-8" />
    <%= Application.get_env(:live_debugger, :live_debugger_tags) %>

    <SEO.juice
      page_title={assigns[:page_title]}
      canonical_url={assigns[:canonical_url]}
      conn={@conn}
      config={Bonfire.UI.Common.SEO.config()}
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover, interactive-widget=overlays-content"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {raw(Bonfire.Common.Config.endpoint_module().include_assets(@conn, :top))}

    <%= if assigns[:no_index] do %>
      <meta name="robots" content="noindex" />
    <% end %>

    {csrf_meta_tag()}
  </head>

  <body class="" id="layout-root">
    {@inner_content}

    {raw(Bonfire.Common.Config.endpoint_module().include_assets(@conn, :bottom))}
  </body>
</html>
