/* Custom themes for Bonfire UI */

@plugin "daisyui/theme" {
  name: "federated_archives";
  default: false; /* set as default */
  prefersdark: true; /* set as default dark mode */
  color-scheme: "dark"; /* color of browser-provided UI */

  /* base colors */
  --color-base-100: "#303030";
  --color-base-200: "#333333";
  --color-base-300: "#262626";
  --color-base-content: "#f2f1f1";

  /* primary colors */
  --color-primary: "#B5FF00";
  --color-primary-content: "#272e16";

  /* secondary colors */
  --color-secondary: "oklch(70% 0.25 200)";
  --color-secondary-content: "oklch(98% 0.01 200)";

  /* accent colors */
  --color-accent: "oklch(65% 0.25 160)";
  --color-accent-content: "oklch(98% 0.01 160)";

  /* neutral colors */
  --color-neutral: "oklch(50% 0.05 240)";
  --color-neutral-content: "oklch(98% 0.01 240)";

  /* state colors */
  --color-info: "oklch(70% 0.2 220)";
  --color-info-content: "oklch(98% 0.01 220)";
  --color-success: "oklch(65% 0.25 140)";
  --color-success-content: "oklch(98% 0.01 140)";
  --color-warning: "oklch(80% 0.25 80)";
  --color-warning-content: "oklch(20% 0.05 80)";
  --color-error: "oklch(65% 0.3 30)";
  --color-error-content: "oklch(98% 0.01 30)";

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 2rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

